name: Release

on:
  push:
    tags:
      - "v*.*.*"

defaults:
  run:
    shell: bash

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 8

jobs:
  Android:
    runs-on: ubuntu-latest
    if: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Conan package manager
        run: pip install conan

      - name: Detect and configure Conan profile
        run: |
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure build tools and CMake
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [replace_tool_requires]
          meson/*: meson/[*]
          pkgconf/*: pkgconf/[*]

          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Create Conan profile
        run: |
          cat > ~/.conan2/profiles/android <<EOF
          include(default)

          [settings]
          os=Android
          os.api_level=34
          arch=armv8
          compiler=clang
          compiler.version=19
          compiler.libcxx=c++_static
          compiler.cppstd=23

          [tool_requires]
          android-ndk/[*]

          [conf]
          user.sdl:android=True
          EOF

      - name: Install project dependencies
        run: conan install . --output-folder=build --build=missing --profile=android --settings compiler.cppstd=23 --settings build_type=RelWithDebInfo

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build --config RelWithDebInfo --verbose

      - name: Package artifacts
        working-directory: build
        run: |
          mkdir -p ../artifacts
          chmod -x LICENSES
          tar -cpzvf Android.tar.gz libcarimbo.so LICENSES
          mv Android.tar.gz ../artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Android
          path: artifacts/*

  iOS:
    runs-on: macos-latest
    if: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install and configure Conan
        run: |
          brew install conan
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure build tools and CMake
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [replace_tool_requires]
          meson/*: meson/[*]
          pkgconf/*: pkgconf/[*]

          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Create Conan profile
        run: |
          cat > ~/.conan2/profiles/ios <<EOF
          include(default)

          [settings]
          os=iOS
          os.version=16.0
          os.sdk=iphoneos
          arch=armv8
          compiler=apple-clang
          compiler.version=17.0
          compiler.libcxx=libc++
          build_type=RelWithDebInfo
          EOF

      - name: Install project dependencies
        run: conan install . --output-folder=build --build=missing --profile=ios --settings compiler.cppstd=23 --settings build_type=RelWithDebInfo

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build --config RelWithDebInfo --verbose

  macOS:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install and configure Conan
        run: |
          brew install conan
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure build tools and CMake
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [replace_tool_requires]
          meson/*: meson/[*]
          pkgconf/*: pkgconf/[*]

          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Install project dependencies
        run: conan install . --output-folder=build --build=missing --settings compiler.cppstd=23 --settings build_type=RelWithDebInfo

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build --config RelWithDebInfo --verbose

      - name: Copy Crashpad handler from Conan
        run: |
          find ~/.conan2/p -path '*/bin/crashpad_handler' -type f -exec cp {} build/ \;

      - name: Package artifacts
        working-directory: build
        run: |
          mkdir -p ../artifacts
          chmod -R a+rwx carimbo
          chmod 644 LICENSES
          chmod +x carimbo
          chmod +x crashpad_handler
          tar -cpzvf macOS.tar.gz carimbo crashpad_handler LICENSES
          mv macOS.tar.gz ../artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macOS
          path: artifacts/*

  Ubuntu:
    runs-on: ubuntu-latest
    if: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install and configure Conan
        run: |
          pip install conan
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure build tools and CMake
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [replace_tool_requires]
          meson/*: meson/[*]
          pkgconf/*: pkgconf/[*]

          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Install project dependencies
        run: conan install . --output-folder=build --build=missing --settings compiler.cppstd=23 --settings build_type=RelWithDebInfo --conf "tools.system.package_manager:mode=install" --conf "tools.system.package_manager:sudo=True"

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build --config RelWithDebInfo --verbose

      - name: Package artifacts
        working-directory: build
        run: |
          mkdir -p ../artifacts
          chmod +x carimbo
          chmod 644 LICENSES
          tar -czvf Ubuntu.tar.gz carimbo LICENSES
          mv Ubuntu.tar.gz ../artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Ubuntu
          path: artifacts/*

  UbuntuARM:
    runs-on: ubuntu-24.04-arm
    if: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install and configure GCC 14
        run: |
          update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
          update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100

      - name: Install and configure Conan
        run: |
          pip install conan
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure CMake tool requirements
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Install project dependencies
        run: conan install . --output-folder=build --build=missing --settings compiler.cppstd=23 --settings build_type=RelWithDebInfo --conf "tools.system.package_manager:mode=install" --conf "tools.system.package_manager:sudo=True"

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build --config RelWithDebInfo --verbose

      - name: Package artifacts
        working-directory: build
        run: |
          mkdir -p ../artifacts
          chmod +x carimbo
          chmod 644 LICENSES
          tar -czvf UbuntuARM.tar.gz carimbo LICENSES
          mv UbuntuARM.tar.gz ../artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: UbuntuARM
          path: artifacts/*

  WebAssembly:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install and configure Conan
        run: |
          pip install conan
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure build tools and CMake
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [replace_tool_requires]
          meson/*: meson/[*]
          pkgconf/*: pkgconf/[*]

          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Create Conan profile
        run: |
          cat > ~/.conan2/profiles/webassembly <<EOF
          include(default)

          [settings]
          arch=wasm
          os=Emscripten

          [tool_requires]
          *: emsdk/3.1.73
          EOF

      - name: Install project dependencies
        run: |
          conan install . --output-folder=build --profile=webassembly --settings compiler.cppstd=23 --settings build_type=Release --build=missing

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_C_FLAGS_RELEASE:STRING="-Oz -DNDEBUG -ffunction-sections -fdata-sections -flto -fvisibility=hidden -g0 -ffast-math -fno-stack-protector -msimd128" \
            -DCMAKE_CXX_FLAGS_RELEASE:STRING="-Oz -DNDEBUG -ffunction-sections -fdata-sections -flto -fvisibility=hidden -fvisibility-inlines-hidden -g0 -ffast-math -fno-stack-protector -msimd128" \
            -DCMAKE_EXE_LINKER_FLAGS_RELEASE:STRING="-fuse-ld=lld -flto -Wl,-O2,--gc-sections,-s --strip-al --strip-debug -Wl,--compress-relocations -Wl,--strip-all -Wl,--lto-O3"

          cmake --build build --config Release --verbose

      - name: Minify JavaScript runtime
        working-directory: build
        run: |
          npx terser carimbo.js \
            --ecma 2022 --module \
            --compress passes=3 \
            --mangle toplevel \
            --comments false \
            --output carimbo.js

      - name: Package artifacts
        working-directory: build
        run: |
          mkdir -p ../artifacts
          zip -jr WebAssembly.zip carimbo.wasm carimbo.js
          mv WebAssembly.zip ../artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WebAssembly
          path: artifacts/*

  Windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install and configure Conan
        run: |
          pip install conan
          conan profile detect --force
          conan config install https://github.com/willtobyte/conan-configs.git --type git

      - name: Configure build tools and CMake
        run: |
          cat <<'EOF' >> ~/.conan2/profiles/default
          [replace_tool_requires]
          meson/*: meson/[*]
          pkgconf/*: pkgconf/[*]

          [tool_requires]
          !cmake/*: cmake/[>=3 <4]
          EOF

      - name: Install project dependencies
        run: conan install . --output-folder=build --build=missing --settings compiler.cppstd=23 --settings build_type=RelWithDebInfo

      - name: Build binary
        run: |
          cmake -Bbuild -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_CXX_FLAGS="//bigobj"
          cmake --build build --config RelWithDebInfo --verbose

      - name: Copy Crashpad handler from Conan
        shell: powershell
        working-directory: build
        run: |
          $crashpadHandler = Get-ChildItem -Path ~/.conan2/p -Filter crashpad_handler.exe -Recurse | Where-Object { $_.DirectoryName -like '*\bin' } | Select-Object -First 1
          Copy-Item $crashpadHandler.FullName RelWithDebInfo/crashpad_handler.exe

      - name: Package artifacts
        shell: powershell
        working-directory: build/RelWithDebInfo
        run: |
          New-Item -ItemType Directory -Path "../artifacts" -Force
          Compress-Archive -LiteralPath 'carimbo.exe', 'crashpad_handler.exe', 'carimbo.pdb', '../LICENSES' -DestinationPath "../artifacts/Windows.zip"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Windows
          path: artifacts/*

  Release:
    if: always()
    needs:
      - Android
      - iOS
      - macOS
      - Ubuntu
      - UbuntuARM
      - WebAssembly
      - Windows
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub release with artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          prerelease: false
          files: artifacts/**/*
